// Sizes
$default-margin: 1rem;
// Typography
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;
$font-weight-base: 400; // 'normal'
$font-weight-bold: 700; // 'bold'
$font-weight-semibold: 600;
$font-weight-light: 300;
// Colors
$grey: #4D4D4D;
$olive: #BFABAB;
$beige: #9F938B