html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

body {
  animation: fadeInUp ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.header {
  display: block;
  background-color: #F6F6F5;
}
@media only screen and (min-width: 600px) {
  .header {
    display: flex;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    max-width: 1370px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  .header .product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
.header .product-img img {
  max-width: 100%;
  display: block;
  height: auto;
}
@media only screen and (min-width: 600px) {
  .header .product-img img {
    width: 910px;
    max-width: initial;
  }
}
.header .product-info {
  max-width: 420px;
  margin: 0 auto;
}
@media only screen and (min-width: 1000px) {
  .header .product-info {
    padding: 0px 25px;
  }
}
.header .product-info .navigate-back {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 12px;
  font-weight: 300;
  margin: 1rem 1rem 3rem 1rem;
}
.header .product-info .navigate-back.arrow::before {
  display: inline-block;
  padding-right: 8px;
  content: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0009 4.50063C14.0009 4.36802 13.9482 4.24085 13.8544 4.14708C13.7607 4.05331 13.6335 4.00063 13.5009 4.00063H1.70789L4.85489 0.854632C4.90138 0.808144 4.93826 0.752955 4.96342 0.692215C4.98858 0.631476 5.00153 0.566375 5.00153 0.500632C5.00153 0.434888 4.98858 0.369788 4.96342 0.309048C4.93826 0.248309 4.90138 0.193119 4.85489 0.146631C4.80841 0.100144 4.75322 0.0632674 4.69248 0.0381083C4.63174 0.0129493 4.56664 0 4.50089 0C4.43515 0 4.37005 0.0129493 4.30931 0.0381083C4.24857 0.0632674 4.19338 0.100144 4.14689 0.146631L0.146894 4.14663C0.100331 4.19308 0.0633877 4.24825 0.0381812 4.309C0.0129748 4.36974 0 4.43486 0 4.50063C0 4.5664 0.0129748 4.63152 0.0381812 4.69226C0.0633877 4.75301 0.100331 4.80819 0.146894 4.85463L4.14689 8.85463C4.19338 8.90112 4.24857 8.938 4.30931 8.96315C4.37005 8.98831 4.43515 9.00126 4.50089 9.00126C4.56664 9.00126 4.63174 8.98831 4.69248 8.96315C4.75322 8.938 4.80841 8.90112 4.85489 8.85463C4.90138 8.80814 4.93826 8.75295 4.96342 8.69221C4.98858 8.63148 5.00153 8.56637 5.00153 8.50063C5.00153 8.43489 4.98858 8.36979 4.96342 8.30905C4.93826 8.24831 4.90138 8.19312 4.85489 8.14663L1.70789 5.00063H13.5009C13.6335 5.00063 13.7607 4.94795 13.8544 4.85419C13.9482 4.76042 14.0009 4.63324 14.0009 4.50063Z' fill='%239F938B'/%3E%3C/svg%3E");
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.header .product-info .navigate-back.arrow:hover::before {
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
  transform: translateX(-4px);
}
.header .product-info .product-title {
  margin: 1rem;
  font-size: 24px;
}
.header .product-info .product-subtitle {
  margin: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #9F938B;
  font-weight: 300;
  color: #4D4D4D;
}
.header .product-info .product-description {
  margin: 1rem;
  padding: 20px 0 40px 0;
  border-bottom: 1px solid #9F938B;
  font-weight: 300;
  color: #4D4D4D;
  line-height: 1.5;
}
.header .product-info .icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #9F938B;
}
.header .product-info .icons .icon {
  display: flex;
  align-items: center;
  height: 100px;
}
.header .product-info .icons .icon .icon-text {
  margin-left: 0.5rem;
  font-size: 14px;
  color: #9F938B;
}
.header .product-info .add-to-cart-wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}
.header .product-info .add-to-cart-wrapper .add-to-cart {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #BFABAB;
  color: #4D4D4D;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-weight: 300;
  text-align: center;
  transition: all 0.5s;
}
.header .product-info .add-to-cart-wrapper .add-to-cart:hover {
  transform: scale(1.1);
}

.product-carousel {
  margin-left: 1rem;
  padding: 50px 0 100px 0;
  overflow: hidden;
}
@media only screen and (min-width: 1600px) {
  .product-carousel {
    max-width: 1370px;
    margin: 0 auto;
  }
}
.product-carousel .product-carousel-title {
  display: block;
  max-width: fit-content;
  margin: 1em auto;
  font-size: 24px;
  font-weight: 400;
  color: #4D4D4D;
}
.product-carousel .owl-carousel .owl-stage-outer {
  overflow: initial;
}
.product-carousel .owl-carousel .owl-item:hover .item,
.product-carousel .owl-carousel .owl-item:focus .item {
  transform: scale(1.1);
}
.product-carousel .owl-carousel .item {
  display: flex;
  height: 300px;
  justify-content: left;
  background-image: url("../assets/img/product-image-narrow.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
}
.product-carousel .owl-carousel .item .item-info {
  position: absolute;
  bottom: -70px;
  color: black;
  z-index: 100;
  display: block;
  font-size: 11px;
}
@media only screen and (min-width: 420px) {
  .product-carousel .owl-carousel .item .item-info {
    bottom: -50px;
  }
}
.product-carousel .owl-carousel .item .item-info h4:nth-child(1) {
  font-weight: 400;
}
.product-carousel .owl-carousel .item .item-info h4:nth-child(2) {
  font-weight: 300;
}
.product-carousel .owl-carousel .item .item-info h5 {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
